.app__menuItem {
    width: 100%;
    margin: 16px 0;

    display: flex;
    flex-direction: column;
}

.app__menuItem-head {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.app__menuItem-sub {
    width: 100%;
    margin-top: 4px;
}

.app__menuItem-name {
    flex: 1;
}

.app__menuItem-price {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.app__menuItem-dash {
    width: 100px;
    height: 1px;
    background: var(--color-golden);
    margin: 0 64px;
}

