.app__chef-content {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.app__chef-content-quote {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
}

.app__chef-content-quote img {
    width: 50px;
    height: 40px;
    justify-content: flex-start;
    margin-right: 16px;
    margin-bottom: 12px;
}

.app__chef-content-signature p:first-child {
    margin-top:48px;
    margin-bottom:8px;
    font-size: 32px;
}

.app__chef-content-signature p:nth-child(2) {
    margin-bottom:16px;
}

@media screen and (max-width: 650px) {
    .app__chef-content-signature img{
        width: 80%;
        height: 80%
    }
}